{% extends 'cas/layout.html' %}

{% block content %}

{% load static %}

<hr>
<hr>

<body>
    <br><br>
    <h1 class="text-center">¡Bienvenidos a CAS!</h1>

    <br>
    <section class="container">
        <img src="{% static 'img/img1.jpg' %}">
        <img src="{% static 'img/img3.jpg' %}">
        <img src="{% static 'img/img2.jpg' %}">
        <img src="{% static 'img/img5.jpg' %}">
        <img src="{% static 'img/img4.jpg' %}">
    </section>

    <br><br>
    <div class="container">
        <h3>CAS</h3>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
        <p>¡Bienvenido a CAS, la aplicación perfecta para dar a conocer tus servicios y promociones! Con CAS, podrás
            registrar tus servicios y promociones de manera sencilla y efectiva, y llegar a un público más amplio.
            Además,
            podrás interactuar con tus clientes y recibir comentarios y sugerencias que te ayudarán a mejorar tu
            negocio.
            ¡No esperes más para unirte a nuestra comunidad de usuarios y hacer crecer tu negocio con CAS! Estamos aquí
            para
            ayudarte en todo lo que necesites.



            Además, podrás encontrar otros servicios y
            promociones de tu interés y contactar directamente con los proveedores. En resumen, CAS es la herramienta
            perfecta para dar a conocer tu negocio y conectarte con tu público objetivo.

        </p>

        <br>
        <div class="boton text-center">
            <a class="btn btn-primary btn btn-dark bg-dark d-inline mx-2" href="{% url 'login' %}" style="color: rgb(0, 0, 0)" role="button" >Log
                In</a>
            

        <br><br><br><br>
        </div>
        <div class="container">
            
            <img src="{% static 'img/ubicacion.jpg' %}"  width="50%" height="50%" alt="">


        </div>
        <br><br>
        <hr>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Misión</h4>
                    <p>En CAS, nuestra misión es proporcionar una plataforma fácil de usar para que empresas y
                        emprendedores puedan promocionar sus servicios y productos, conectarse con sus clientes y
                        aumentar su presencia en línea.</p>
                </div>

                <div class="col-md-4">
                    <h4>Visión</h4>
                    <p>Nuestra visión es convertirnos en la plataforma líder para la promoción de servicios y productos
                        en línea, brindando una experiencia de usuario excepcional y ayudando a impulsar el crecimiento
                        de
                        empresas y emprendedores en el norte del cauca.</p>
                </div>

                <div class="col-md-4">
                    <h4>Contacto y Ubicación</h4>
                    <p>Para cualquier consulta o sugerencia, no dudes en contactarnos a través de nuestro correo
                        electrónico de soporte: support@cas.com. También puedes visitarnos en nuestra oficina ubicada en
                        la
                        Carrera 10, N° 9-14, Santande .</p>


                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <p class="text-center">&copy; {{ date|date:'Y' }} CAS | Todos los derechos reservados</p>
    </div>
</body>
{% endblock content %}