{% extends 'cas/layout.html' %}
{% load static %}
{% block content %}
<body class="login-page">
    <div class="twitter-login-box">
        <hr>
        <hr>
        
        <header>
            <img src="{% static 'img/logo1.png' %}" alt="cas logo">
            <h1>Inicia Sesión</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="user-name-id">Username</label>
                {{ form.username }}
            </div>

            <div class="input-wrapper">
                <label for="password-id">Password</label>
                {{ form.password }}
            </div>
            {% if form.errors %}
            <p>Username or password not correct.</p>
            {% endif %}

            <button class="twitter-btn btn-dark bg-dark" style="color: rgb(0, 0, 0)" >Log in</button>
        </form>

        
        <div class="footer">
            
            <a href="{% url 'register' %}" style="color: black;" type="submit">Sign up to CAS</a>
        </div>

    </div>
{% endblock content %}